node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
assets/.DS_Store
**/.DS_Store
.idea
pnpm-lock.yaml
yarn.lock
.vscode
**/artifacts-zk
zk-contracts/deployments
**/cache-zk
fns-contracts/artifacts-dbg
zk-contracts/artifacts-dbg
